<li class="{{this.styleNamespace}}" {{on "click" (fn @panTo @location.id)}}>
  <strong>{{@location.name}}</strong>
  <span style={{this.color}}>density: {{@location.density.number}}</span>
</li>
{{yield}}